<table>
{% for dishType, dishes in result -%}
    <tr>
        <th colspan="3" class="underline">{{ dishType }}</th>
    </tr>
    {% for dish in dishes  -%}
    <tr>
        <td>
            {{- dish[0] -}}
            {%- if dish[2] is defined -%}
            {%- for cafeteria in dish[2]|split(' ') -%}
                <span class="cafeteria">{{ cafeteria }}</span>
            {%- endfor -%}
            {%- endif -%}
        </td>
        <td class="price">{{ dish[1]|default("-") }}&nbsp;Kč</td>
    </tr>
    {% endfor -%}
{% else -%}
<tr><th>Menu není k dispozici.</th></tr>
{% endfor -%}
</table>
<footer>
    Načteno {{ retrieved|date('j. n. Y G:i') }}
    <a class="button right" href="{{ path("net_tomaskadlec_d2s_default_delete", {'restaurantId': restaurantId}) }}"><i class="fa fa-trash"></i></a>
</footer>
