{% extends "::base.html.twig" %}

{% block stylesheets %}
{{ parent()  }}
<style>
    ul.flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    ul.flex > li {
        display: inline-block;
        flex-grow: 0;
        width: calc(33% - 1em);
        list-style: none;
        margin-left: 0.5em;
        /*text-align: center;*/
        clear: both;
    }

    ul.flex > li > div  {
        width: 5rem;
        height: 5rem;
        overflow: hidden;
        float: left;
        margin: 0.25em 1em 0.25em 0;
        vertical-align: middle;
        text-align: center;
    }

    ul.flex > li > div > img {
        max-height: 5rem;
        max-width: 5rem;
    }

    @media (max-width: 767px) {
        ul.flex > li {
            width: calc(100% - 1em);
        }
    }
</style>
{% endblock %}

{% block body %}
<p>
    Aplikace <a href="{{ path('net_tomaskadlec_d2s_default_index') }}">Obědář</a> je vyvíjena jako open-source. Všem těm,
    kteří přispěli děkujeme! Ty nejaktivnější vidíte níže.
</p>

<p>
    Chcete do projektu také přispět? Podívejte se na stránku <a href="">Jak mohu přispět?</a>
</p>

<h2>Nejaktivnější přispěvatelé</h2>

<ul class="flex">
{% for contributor in contributors %}
    <li>
        <div>
            <img src="{{ contributor.avatar_url }}" alt="Contributor's avatar"/>
        </div>
        <h3><a href="{{ contributor.html_url }}">{{ contributor.login }}</a></h3>
        <p>Počet přispění: {{ contributor.contributions }}</p>
    </li>

{% endfor %}
</ul>
{% endblock %}